@use "../../node_modules/@material/theme" with (
  $primary: #D57711,
  $secondary: #245AF5,
  $background: #fff,
);
@use "../../node_modules/@material/shape" with (
  $small-component-radius: 6px,
  $medium-component-radius: 8px,
  $large-component-radius: 18px,
);


@use "../../node_modules/material-components-web";
@use "../../node_modules/@material/ripple";
@use "../../node_modules/@material/icon-button";

@import "../../node_modules/@material/button";
@import "../../node_modules/@material/button/mdc-button";
@import "../../node_modules/@material/button/styles";
@import "../../node_modules/@material/top-app-bar/mdc-top-app-bar";
@import "../../node_modules/@material/icon-button/mdc-icon-button";
@import "../../node_modules/@material/tab-bar/mdc-tab-bar";
@import "../../node_modules/@material/tab-scroller/mdc-tab-scroller";
@import "../../node_modules/@material/tab-indicator/mdc-tab-indicator";
@import "../../node_modules/@material/tab/mdc-tab";

.mdc-top-app-bar {
  @include mdc-top-app-bar-fill-color(#eeeeee);
  @include mdc-top-app-bar-ink-color(#000);
  @include mdc-top-app-bar-icon-ink-color(#000);
}

.mdc-tab-bar-appBarMenu{
  @include mdc-tab-bar-width(24px);
}

.top-app-bar-button{
  @include mdc-button-ink-color(#000);
  @include mdc-button-shape-radius(6px);
}

.brand_icon{
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.top-app-bar-mainLink{
  margin-left: 16px;
  color: #000;
  font-size: larger;
}


//@include icon-button.core-styles;

.my-surface {
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;
}


//Inherited from styles.css

.plan {
  margin-top: 100px;
  padding: 10px 5px;
  background-color: white;
}

.plan-header {
  color: blue;
}

.popup {
  background: #d1005c;
  padding: 20px;
  color: #fff;
  min-height: 200px;
  position: absolute;
  bottom:100%;
  margin-top:-20px;
  left: -47px;
  width: 300px;
  z-index: 100;
}

.img-fluid {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.plan-header, .plan-button {
  text-align: center;
}



.contributeCard {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px
}

#register {
  color: black
}


#titles {
  visibility: hidden;
}

#tab input, #tab select, #tab textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid;
  border-radius: 10px;
}

#tab #tick {
  -webkit-appearance: checkbox;
  width: auto;
}

#tab input {
  -webkit-appearance: none;
}




#nextBtn, #prevBtn {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer
}



#contributeSubmit {
  padding: 5px;
  font-size: 20px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



