body {
	background-color: #C0C0C0;
} 

.plan {
	margin-top: 100px;
	padding: 10px 5px;
	background-color: white;
}

.plan-header {
	color: blue;
}

.popup {
	background: #d1005c;
	padding: 20px;
	color: #fff;
	min-height: 200px;
	position: absolute;
	bottom:100%;         
	margin-top:-20px;    
	left: -47px;
	width: 300px;
	z-index: 100;
}

.img-fluid {
	width: 100px; 
	height: 100px;
	object-fit: cover;   
}

.plan-header, .plan-button {
	text-align: center;
}



.contributeCard {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px
}

#register {
    color: black
}


#titles {
	visibility: hidden;
}

#tab input, #tab select, #tab textarea {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid;
    border-radius: 10px;
}

#tab #tick {
    -webkit-appearance: checkbox;
	width: auto;
}

#tab input {
    -webkit-appearance: none;
}




#nextBtn, #prevBtn {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer
}



#contributeSubmit {
    padding: 5px;
    font-size: 20px;
}



